[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic = {extras = ["dotenv"], version = "*"}
sqlmodel = "*"
sqlalchemy2-stubs = "==0.0.2a14"  # pre-release must be pinned
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "==21.7b0"  # pre-release must be pinned
invoke = "*"
isort = "*"
prospector = "*"
flake8="<3.9"  # fixes prospector dependency issue
pytest = "*"
pytest-icdiff = "*"
respx = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn main:API"
dev = "uvicorn main:API --reload"
fmt = "black ."
sort = "isort ."
